{{#each result.matches}}
    <tr class='resultRow selectable-row{{#if_eq active false}}danger{{else}}{{#if_eq concept.active false}}danger{{/if_eq}}{{/if_eq}}'>
        <td class='col-md-7'>
            <div class='result-item' data-module="{{moduleId}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>
                {{#if_eq definitionStatus "PRIMITIVE"}}
                    <span class="badge alert-warning context-menu" data-fsn="{{fsn.term}}" data-preffered-term="{{term}}" draggable="true" ondragstart="drag(event, '{{../../divElementId}}')" data-module="{{moduleId}}" data-concept-id="{{conceptId}}" data-term="{{term}}">&nbsp;&nbsp;</span>&nbsp;&nbsp;
                {{else}}
                  {{#if_eq definitionStatus "900000000000074008"}}
                      <span class="badge alert-warning context-menu" data-fsn="{{fsn.term}}" data-preffered-term="{{term}}" draggable="true" ondragstart="drag(event, '{{../../divElementId}}')" data-module="{{moduleId}}" data-concept-id="{{conceptId}}" data-term="{{term}}">&nbsp;&nbsp;</span>&nbsp;&nbsp;
                    {{else}}
                      <span class="badge alert-warning context-menu" data-fsn="{{fsn.term}}" data-preffered-term="{{term}}" draggable="true" ondragstart="drag(event, '{{../../divElementId}}')" data-module="{{moduleId}}" data-concept-id="{{conceptId}}" data-term="{{term}}">&equiv;</span>&nbsp;&nbsp;
                    {{/if_eq}}
                {{/if_eq}}
                {{#hasCountryIcon moduleId}}
                    <div class="phoca-flagbox" style="width:20px;height:20px">
                        <span class="phoca-flag {{countryIcon moduleId}}"></span>
                    </div>&nbsp;
                {{/hasCountryIcon}}
                <a href='javascript:void(0);' style='color: inherit;text-decoration: inherit;' draggable="true" ondragstart="drag(event, '{{../../divElementId}}')" data-module="{{moduleId}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>{{term}}</a>
            </div>
        </td>
        <td class='text-muted small-text col-md-5 result-item' data-module="{{moduleId}}" data-concept-id='{{conceptId}}' data-term='{{term}}'>
            {{fsn}}
        </td>
    </tr>
{{/each}}
