<p class="" style="margin-top: 20px;"><span class='i18n' data-i18n-id='i18n_pre_coordinated_expression'>{{i18n "i18n_pre_coordinated_expression" "Pre-coordinated Expression"}}</span> (*)&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export clip-btn-exp" id="{{divElementId}}-copy-pre-coordinated-expression"  data-clipboard-text="{{plainPreCoordinatedExpression}}"></i></small></p>
<div class="expression-code" style="margin-top: 10px; padding: 10px;">{{{preCoordinatedExpressionHtml}}}</div>

{{#if classAxiomOwlExpressions}}
    {{#each classAxiomOwlExpressions}}
        <p class="" style="margin-top: 20px;"><span class='i18n' data-i18n-id='i18n_expression_class_axiom_definition'>{{i18n "i18n_expression_class_axiom_definition" "Expression from Class Axiom Definition"}}</span> (*)&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export clip-btn-exp" id="{{divElementId}}-copy-axiom-expression" data-clipboard-text="{{this}}"></i></small></p>
        <div class="expression-code" style="margin-top: 10px; padding: 10px;"><pre>{{this}}</pre></div>
    {{/each}}
{{/if}}

{{#if gciAxiomOwlExpressions}}
    {{#each gciAxiomOwlExpressions}}
        <p class="" style="margin-top: 20px;"><span class='i18n' data-i18n-id='i18n_expression_gci_axiom_definition'>{{i18n "i18n_expression_gci_axiom_definition" "Expression from GCI Axiom Definition"}}</span> (*)&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export clip-btn-exp" id="{{divElementId}}-copy-axiom-expression" data-clipboard-text="{{this}}"></i></small></p>
        <div class="expression-code" style="margin-top: 10px; padding: 10px;"><pre>{{this}}</pre></div>
    {{/each}}
{{/if}}

{{#if statedExpressionHtml}}
    <p class="" style="margin-top: 20px;"><span class='i18n' data-i18n-id='i18n_expression_stated_concept_definition'>{{i18n "i18n_expression_stated_concept_definition" "Expression from Stated Concept Definition"}}</span> (*)&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export clip-btn-exp" id="{{divElementId}}-copy-stated-expression" data-clipboard-text="{{plainStatedExpression}}"></i></small></p>
    <div class="expression-code" style="margin-top: 10px; padding: 10px;">{{{statedExpressionHtml}}}</div>    
{{/if}}
<p class="" style="margin-top: 20px;"><span class='i18n' data-i18n-id='i18n_expression_inferred_concept_definition'>{{i18n "i18n_expression_inferred_concept_definition" "Expression from Inferred Concept Definition"}}</span> (*)&nbsp;&nbsp;&nbsp;&nbsp;<small><i class="glyphicon glyphicon-export clip-btn-exp" id="{{divElementId}}-copy-inferred-expression" data-clipboard-text="{{plainInferredExpression}}"></i></small></p>
<div class="expression-code" style="margin-top: 10px; padding: 10px;">{{{inferredExpressionHtml}}}</div>
<br><br>

{{#if_gr otherOwlExpressions.length 0}}
<p class=""><span class='i18n' data-i18n-id='i18n_other_expressions' style="margin-bottom: 10px">{{i18n "i18n_other_expressions" "Other Expressions"}}</span> (*)</p>
{{#each otherOwlExpressions}}
    <div>
        <small><i class="glyphicon glyphicon-export clip-btn-exp" style="float: right;top: 20px;margin-right: 20px;" data-clipboard-text="{{this}}"></i></small>        
        <div class="expression-code" style="padding: 10px;"><pre>{{this}}</pre></div>
    </div>
{{/each}}
{{/if_gr}}
<div class="well small">
    <p>(*) <span class='i18n' data-i18n-id='i18n_expression_text1'>{{i18n "i18n_expression_text1" "The expressions are generated according to the ABNF syntax found in the \"SNOMED CT Compositional Grammar Specification and Guide\""}}</span> (<a href="http://snomed.org/compgrammar" target="_blank">http://snomed.org/compgrammar</a>)</p>
    <p><span class='i18n' data-i18n-id='i18n_expression_text2'>{{i18n "i18n_expression_text2" "SNOMED CT Compositional Grammar is a lightweight syntax for the representation of SNOMED CT expressions. SNOMED CT expressions are used in Electronic Health Records (EHRs) to represent clinical meanings in a way that enables automatic interpretation. They are also carried in messages, used to define precoordinated concepts and used to represent links between SNOMED CT and other terminologies"}}</span>.</p>
    <p><span class='i18n' data-i18n-id='i18n_expression_text3'>{{i18n "i18n_expression_text3" "These expressions are generated as an example from the published concept definition, a Pre-coordinated Expression is direct reference to the concept, and Post-coordinated expressions are generated from the stated or inferred relationships. In a Sufficiently Defined concept, all three will be equivalent"}}</span>.</p>
</div>
