<div style="margin: 10px;" class="row">
    <div class="col-md-9" style="padding-left: 0px;">
        <h4>
            {{#if_undefined concept.fsn.term}}
                History - {{concept.conceptId }} |{{concept.fsn}}| 
            {{else}}
                History - {{concept.conceptId }} |{{concept.defaultTerm }}|
            {{/if_undefined}}
        </h4>
    </div> 
</div>
{{#if history}}
    <table class="table table-hover table-bordered" id="history-list-{{divElementId}}" style="margin-top:20px">
        <thead>
        <tr>
            <th><span >Version</span></th>
            <th><span >Type of Change</span></th>
        </tr>
        </thead>
        <tbody>

            {{#each history}}
                <tr>
                    <td style="width:12.5%;"> 
                        <a style="cursor:pointer" class="history-item" data-concept-id="{{this.conceptId}}" data-branch="{{this.branch}}" data-term="{{this.term}}" data-module="{{this.module}}">
                            {{date}}
                        </a>
                    </td>
                    <td>{{componentTypes}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="" style="margin-top: 20px; margin-left:10px;"><span class='i18n' data-i18n-id='i18n_no_history_found'>{{i18n "i18n_no_history_found" "No History Found"}}</span></p>
{{/if}}
