<table class='table table-default' >
    <tr
        {{#if options.dailyBuildBrowser}}{{#if_eq firstMatch.effectiveTime null}} class = 'highlightEffectiveTime' {{/if_eq}}{{/if}}
        {{#if options.tsBrowser}}{{#if_eq firstMatch.effectiveTime null}} class = 'highlightEffectiveTime' {{/if_eq}}{{/if}}
        {{#if options.history}}{{#if historyEffective}} class='highlightEffectiveTime'{{/if}}{{/if}}
        >
        <td>
            <h4>
                {{#if_eq firstMatch.definitionStatus "PRIMITIVE"}}
                    <a href="javascript:void(0);" draggable = "true" ondragstart="drag(event, '{{divElementId}}')" data-module="{{firstMatch.moduleId}}" data-concept-id="{{firstMatch.conceptId}}" data-term="{{#if_undefined firstMatch.fsn.term}}
                        {{firstMatch.fsn}}
                    {{else}}
                        {{firstMatch.defaultTerm}}
                    {{/if_undefined}}
                    " data-def-status="{{firstMatch.definitionStatus}}" style="color: inherit;text-decoration: inherit;"><span class="badge alert-warning">&nbsp;&nbsp;</span></a>&nbsp;&nbsp;
                {{else}}
                    <a href="javascript:void(0);" draggable = "true" ondragstart="drag(event, '{{divElementId}}')" data-module="{{firstMatch.moduleId}}" data-concept-id="{{firstMatch.conceptId}}" data-term="{{#if_undefined firstMatch.fsn.term}}
                        {{firstMatch.fsn}}
                    {{else}}
                        {{firstMatch.defaultTerm}}
                    {{/if_undefined}}
                    " data-def-status="{{firstMatch.definitionStatus}}" style="color: inherit;text-decoration: inherit;"><span class="badge alert-warning" >&equiv;</span></a>&nbsp;&nbsp;
                {{/if_eq}}

                <span ondrop="dropC(event, '{{divElementId}}')" ondragleave="removeHighlight();" ondragover="allowDrop(event)">
                {{#if_undefined firstMatch.fsn.term}}
                    {{firstMatch.fsn}}
                {{else}}
                    {{firstMatch.defaultTerm}}
                {{/if_undefined}}
                </span>
            </h4>
            <br>SCTID: {{firstMatch.conceptId}}<span>,</span>

            {{#if_eq firstMatch.definitionStatus "PRIMITIVE"}}
                <span class='i18n' data-i18n-id='i18n_primitive'>PRIMITIVE</span><span>,</span>
            {{else}}
                <span class='i18n' data-i18n-id='i18n_fully_defined'>Defined</span><span>,</span>
            {{/if_eq}}
            
            {{#if_eq firstMatch.active true}}
                <span class='i18n' data-i18n-id='i18n_active'>Active</span><span>.</span>
            {{else}}
                <span class='i18n' data-i18n-id='i18n_inactive'>Inactive</span><span>.</span>
            {{/if_eq}}
            <span id="{{divElementId}}-descendantInfor"><span class='i18n' data-i18n-id='i18n_descendants_count'>{{i18n 'i18n_descendants_count' 'Descendants Count'}}</span>, <span class='i18n' data-i18n-id='i18n_stated'>{{i18n 'i18n_stated' 'Stated'}}</span>: <span id="{{divElementId}}-statedDescendantCount"></span> <span class='i18n' data-i18n-id='i18n_concepts'>{{i18n 'i18n_concepts' 'concepts'}}</span>, <span class='i18n' data-i18n-id='i18n_inferred'>{{i18n 'i18n_inferred' 'Inferred'}}</span>: <span id="{{divElementId}}-inferredDescendantCount"></span> <span class='i18n' data-i18n-id='i18n_concepts'>{{i18n 'i18n_concepts' 'concepts'}}</span>.</span>          
        </td>
        <td>
            <button type="button" class="btn btn-link unobtrusive-icon more-fields-button pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="
                <table border='1'><tr><th style='padding: 3px;'>Effective Time</th><th style='padding: 3px;'>ModuleId</th></tr><tr><td style='padding: 3px;'>{{firstMatch.effectiveTime}}</td><td style='padding: 3px;'>{{firstMatch.moduleId}}</td></tr></table>
                " data-html="true"><i class="glyphicon glyphicon-info-sign"></i></button>
            &nbsp;
            <span class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1-details" data-toggle="dropdown" aria-expanded="true">
                        <i class="glyphicon glyphicon-export pull-right" id="{{divElementId}}-copy-icon-details"></i>
                    </button>
                    <ul class="dropdown-menu small pull-right" role="menu" aria-labelledby="dropdownMenu1-details">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" id="{{divElementId}}-copy-sctid-details" class="clip-btn" data-clipboard-text="{{firstMatch.conceptId}}">Copy ConceptId</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" id="{{divElementId}}-copy-term-details" class="clip-btn" data-clipboard-text="{{firstMatch.defaultTerm}}">Copy Term</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" id="{{divElementId}}-copy-sctid-term-details" class="clip-btn" data-clipboard-text="{{firstMatch.conceptId}} |{{firstMatch.defaultTerm}}|">Copy Term and ConceptId</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" id="{{divElementId}}-copy-link-details" class="clip-btn" data-clipboard-text="{{link}}">Copy Link to share</a></li>
                    </ul>
                </div>
            </span>
            {{#if showIssueCollector}}
                <span class="pull-right">
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1-details" data-toggle="dropdown" aria-expanded="true">
                            <i class="glyphicon glyphicon-plus-sign pull-right" id="{{divElementId}}-addsyn-icon-details"></i>
                        </button>
                        <ul class="dropdown-menu small pull-right" role="menu" aria-labelledby="dropdownMenu2-details">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" id="{{divElementId}}-addsyn-sctid-details">{{issueCollectorButtonText}}</a></li>
                        </ul>
                    </div>
                </span>
            {{/if}}
            <!--<button type="button" id="share-link-{{divElementId}}" class="btn btn-link more-fields-button pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="-->
                    <!--<form><input class='form-control' id='share-field-{{divElementId}}' value='{{dataContentValue}}?perspective=full&conceptId1={{firstMatch.conceptId}}&edition={{edition}}&release={{release}}&server={{server}}&langRefset={{langRefset}}'></form><br>Copy the concept link (e.g. CTRL-C) to save and share a reference to this concept.-->
                    <!--" data-html="true"><i class="glyphicon glyphicon-share-alt"></i></button>-->
            <span class="pull-right">
               <div class="phoca-flagbox" style="width:40px;height:40px">
                   <span class="phoca-flag {{countryIcon firstMatch.moduleId}}"></span>
               </div>
            </span>
        </td>

    </tr>
</table>
