<div class="container" style="max-width: 100%;">
    <div id="{{divElementId}}-diagram-toolbar" class="row">
        <div class="row" style="margin: 15px;">
            <div class="btn-toolbar pull-right" role="toolbar">               
                <button id="{{divElementId}}-download-button" type="button" class="btn btn-primary btn-sm disabled" style="display: block;"><span class='i18n' data-i18n-id='i18n_download_diagram'>{{i18n "i18n_download_diagram" "Download Diagram"}}</span></button>                
                <button id="{{divElementId}}-png-button" type="button" class="btn btn-success btn-sm" style="display: none;"><span class="glyphicon glyphicon-picture"></span> PNG</button>
                <button id="{{divElementId}}-svg-button" type="button" class="btn btn-success btn-sm" style="display: none;"><span class="glyphicon glyphicon-tint"></span> SVG</button>
            </div>
        </div>
    </div>
    <div id="{{divElementId}}-diagram-body" class="row" style="overflow: auto; width: 1000;"></div>
</div>