<div style='margin: 5px; height:98%; overflow:auto;' class='panel panel-default'>
    <div class='panel-heading' id='{{divElementId}}-panelHeading'>
        <button id='{{divElementId}}-subscribersMarker' class='btn btn-link btn-lg' style='padding:2px;position: absolute;top: 1px;left: 0px;'><i class='glyphicon glyphicon-bookmark'></i></button>
        <div class='row'>
            <div class='col-md-8' id='{{divElementId}}-panelTitle'>&nbsp&nbsp&nbsp<strong><span class='i18n' data-i18n-id='i18n_concept_details'>Concept Details</span></strong></div>
            <div class='col-md-4 text-right'>
                <button id='{{divElementId}}-linkerButton' class='btn btn-link jqui-draggable linker-button' data-panel='{{divElementId}}' style='padding:2px'><i class='glyphicon glyphicon-link'></i></button>
                <button id='{{divElementId}}-historyButton' class='btn btn-link history-button' style='padding:2px'><i class='glyphicon glyphicon-time'></i></button>
                <button id='{{divElementId}}-configButton' class='btn btn-link' data-toggle='modal' style='padding:2px' data-target='#{{divElementId}}-configModal'><i class='glyphicon glyphicon-cog'></i></button>
                <button id='{{divElementId}}-collapseButton' class='btn btn-link' style='padding:2px'><i class='glyphicon glyphicon-resize-small'></i></button>
                <button id='{{divElementId}}-expandButton' class='btn btn-link' style='padding:2px'><i class='glyphicon glyphicon-resize-full'></i></button>
                <button id='{{divElementId}}-closeButton' class='btn btn-link' style='padding:2px'><i class='glyphicon glyphicon-remove'></i></button>
            </div>
        </div>
    </div>
    <div class='panel-body' id='{{divElementId}}-panelBody'>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="details-tabs-{{divElementId}}">
            <li class="active"><a href="#home-{{divElementId}}" data-toggle="tab" style="padding-top: 3px; padding-bottom:3px;"><span class="i18n" data-i18n-id="i18n_summary">Summary</span></a></li>
            <li><a href="#details-{{divElementId}}" data-toggle="tab" style="padding-top: 3px; padding-bottom:3px;"><span class="i18n" data-i18n-id="i18n_details">Details</span></a></li>
            <li id="diagram-tab"><a href="#diagram-{{divElementId}}" data-toggle="tab" style="padding-top: 3px; padding-bottom:3px;" id="diagram-tab-link-{{divElementId}}"><span class="i18n" data-i18n-id="i18n_diagram">Diagram</span></a></li>
            <li><a href="#refsets-{{divElementId}}" data-toggle="tab" style="padding-top: 3px; padding-bottom:3px;"><span class="i18n" data-i18n-id="i18n_refsets">Refsets</span></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" id="details-tab-content-{{divElementId}}">
            <div class="tab-pane fade in active" id="home-{{divElementId}}" style="padding: 5px;">
                <div class="row" style="margin-right: 20px"><span class="pull-right text-muted" id="home-{{divElementId}}-viewLabel"></span></div>
                <div style="margin-left: 0%; margin-bottom: 10px; margin-top: 10px; width: 80%;border: 2px solid forestgreen; border-radius: 4px; padding: 5px;" id="home-parents-{{divElementId}}">No parents</div>
                <div style="margin-left: 10%; margin-bottom: 10px; margin-top: 10px; width: 80%;border: 2px solid saddlebrown; border-radius: 4px; padding: 5px;" id="home-attributes-{{divElementId}}">Attributes</div>
                <div style="margin-left: 20%; margin-bottom: 10px; margin-top: 10px; width: 80%;border: 2px solid darkslateblue; border-radius: 4px; padding: 5px;" id="home-roles-{{divElementId}}">Relationships</div>
                <div><span class="text-muted pull-right" id="footer-{{divElementId}}"></span></div>
            </div>
            <div class="tab-pane fade" id="details-{{divElementId}}">
                <div id='{{divElementId}}-attributes-panel' class='panel panel-default'>
                </div>
                <div id='{{divElementId}}-descriptions-panel' class='panel panel-default'>
                </div>
                <div id='{{divElementId}}-rels-panel' class='panel panel-default'>
                </div>
                <div id='{{divElementId}}-children-panel' class='panel panel-default' style='height:100px;overflow:auto;margin-bottom: 15px;'>
                </div>
            </div>
            <div class="tab-pane fade" id="diagram-{{divElementId}}">
                <div class="row" style="margin-right: 20px"><span class="pull-right text-muted" id="home-{{divElementId}}-diagram-viewLabel"></span></div>
                <div id="diagram-canvas-{{divElementId}}" style="position: relative; width: 1000px;"></div>
            </div>
            <div class="tab-pane fade" id="refsets-{{divElementId}}">
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='{{divElementId}}-configModal'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h4 class='modal-title'><span class='i18n' data-i18n-id='i18n_options'>Options</span> ({{divElementId}})</h4>
            </div>
            <div class='modal-body' id='{{divElementId}}-modal-body'>
                <p></p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' data-dismiss='modal'><span class='i18n' data-i18n-id='i18n_cancel'>Cancel</span></button>
                <button id='{{divElementId}}-apply-button' type='button' class='btn btn-success' data-dismiss='modal'><span class='i18n' data-i18n-id='i18n_apply_changes'>Apply changes</span></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        