{{#if_eq skipTo 0}}
    <thead>
        <tr>
            <th colspan="2"><span class="i18n"  data-i18n-id="i18n_members_of">{{i18n "i18n_members_of" "Members of"}}</span> {{term}} (<span>{{total}}</span>)</th>
        </tr>
        <tr>
            <th><span data-i18n-id="i18n_term" class="i18n">{{i18n "i18n_term" "Term"}}</span></th>
            <th><span data-i18n-id="i18n_conceptId" class="i18n">{{i18n "i18n_conceptId" "Concept Id"}}</span></th>
        </tr>
    </thead>
{{/if_eq}}
<tbody>
    {{#each result.items}}
        {{#if referencedComponent.acceptabilityMap}}
            <tr class="member-concept-row">
                <td>
                    {{#if_eq referencedComponent.typeId "900000000000003001"}}
                        <span rel="tooltip-right" title="{{i18n "i18n_fsn" "FSN"}}">F</span>
                    {{else}}
                        {{#if_eq referencedComponent.typeId "900000000000013009"}}
                            <span rel="tooltip-right" title="{{i18n "i18n_synonym" "Synonym"}}">S</span>
                        {{else}}
                            {{#if_eq referencedComponent.typeId "900000000000550004"}}
                                <span rel="tooltip-right" title="{{i18n "i18n_definition" "Definition"}}">D</span>
                            {{/if_eq}}
                        {{/if_eq}}
                    {{/if_eq}}
                    {{#if_eq referencedComponent.definitionStatus "PRIMITIVE"}}
                        <span class="badge alert-warning" draggable='true' ondragstart="drag(event, '{{../divElementId}}')" data-module="{{moduleId}}" data-concept-id='{{referencedComponent.conceptId}}' data-term='{{referencedComponent.term}}'>&nbsp;&nbsp;</span>
                    {{else}}
                        <span class="badge alert-warning" draggable='true' ondragstart="drag(event, '{{../divElementId}}')" data-module="{{moduleId}}" data-concept-id='{{referencedComponent.conceptId}}' data-term='{{referencedComponent.term}}'>&equiv;</span>                    
                    {{/if_eq}}                
                    {{#hasCountryIcon referencedComponent.moduleId}}
                        <div class="phoca-flagbox" style="width:22px;height:22px">
                            <span class="phoca-flag {{countryIcon referencedComponent.moduleId}}"></span>
                        </div>
                    {{/hasCountryIcon}}
                    {{referencedComponent.term}}
                </td>
                <td>{{referencedComponent.conceptId}}</td>
            </tr>
        {{else}}
            <tr class="member-concept-row">
                <td>
                    {{#if_eq referencedComponent.definitionStatus "PRIMITIVE"}}
                        <span class="badge alert-warning" draggable='true' ondragstart="drag(event, '{{../divElementId}}')" data-module="{{moduleId}}" data-concept-id='{{referencedComponent.conceptId}}' data-term='{{referencedComponent.fsn.term}}'>&nbsp;&nbsp;</span>
                    {{else}}
                        <span class="badge alert-warning" draggable='true' ondragstart="drag(event, '{{../divElementId}}')" data-module="{{moduleId}}" data-concept-id='{{referencedComponent.conceptId}}' data-term='{{referencedComponent.fsn.term}}'>&equiv;</span>                    
                    {{/if_eq}}                
                    {{#hasCountryIcon moduleid}}
                        <div class="phoca-flagbox" style="width:22px;height:22px">
                            <span class="phoca-flag {{countryIcon moduleId}}"></span>
                        </div>
                    {{/hasCountryIcon}}
                    {{referencedComponent.fsn.term}}
                </td>
                <td>{{referencedComponent.conceptId}}</td>
            </tr>
        {{/if}}
    {{/each}}

    <tr class="more-row">
        {{#if_eq referenceComponentsOfRefsetAreNotConcepts true}}
            <td class="text-center text-muted i18n" colspan="2" data-i18n-id="i18n_reference_components_are_not_concept">{{i18n "i18n_reference_components_are_not_concept" "The reference components of these reference set members are not concepts"}}.</span></td>
        {{else}}
            {{#if_eq remaining "asd"}}
                <td class="text-center" id="{{divElementId}}-moreMembers" colspan="2">
                    <button class='btn btn-link' id='{{divElementId}}-moreMembers'><span data-i18n-id="i18n_load" class="i18n">{{i18n "i18n_load" "Load"}}</span> {{returnLimit}} <span data-i18n-id="i18n_more" class="i18n">{{i18n "i18n_more" "more"}}</span></button>
                </td>
            {{else}}
                {{#if_eq remaining 0}}
                    <td class="text-muted" class="text-center" colspan="2">{{total}} <span data-i18n-id="i18n_members" class="i18n">{{i18n "i18n_members" "members"}}</span></td>
                {{else}}
                    {{#if_gr remaining returnLimit}}
                        <td class="text-center" id="{{divElementId}}-moreMembers" colspan="2">
                            <button class='btn btn-link' id='{{divElementId}}-moreMembers'><span data-i18n-id="i18n_load" class="i18n">{{i18n "i18n_load" "Load"}}</span> {{returnLimit}} <span data-i18n-id="i18n_more" class="i18n">{{i18n "i18n_more" "more"}}</span> ({{remaining}} <span data-i18n-id="i18n_remaining" class="i18n">{{i18n "i18n_remaining" "remaining"}}</span>)</button>
                        </td>
                    {{else}}
                        <td class="text-center" colspan="2">
                            <button class='btn btn-link' id='{{divElementId}}-moreMembers'><span data-i18n-id="i18n_load" class="i18n">{{i18n "i18n_load" "Load"}}</span> {{remaining}} <span data-i18n-id="i18n_more" class="i18n">{{i18n "i18n_more" "more"}}</span> ({{remaining}} <span data-i18n-id="i18n_remaining" class="i18n">{{i18n "i18n_remaining" "remaining"}}</span>)</button>
                        </td>
                    {{/if_gr}}
                {{/if_eq}}
            {{/if_eq}}
        {{/if_eq}}
    </tr>
</tbody>