<div style='margin: 5px; height:95%;' class='panel panel-default'>
    <div class='panel-heading'>
        <!--<button id='{{divElementId}}-ownMarker' class='btn btn-link btn-lg' style='padding: 2px; position: absolute;top: 1px;left: 0px;'><i class='glyphicon glyphicon-book'></i></button>-->
        <button id='{{divElementId}}-subscribersMarker' class='btn btn-link btn-lg' style='padding: 2px; position: absolute;top: 1px;left: 15px;'><i class='glyphicon glyphicon-bookmark'></i></button>
        <div class='row'>
            <div class='col-md-8' id='{{divElementId}}-panelTitle'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong><span class='i18n' data-i18n-id='i18n_search'>Search</span></span></strong></div>
            <div class='col-md-4 text-right'>
                <!--<button id='{{divElementId}}-linkerButton' draggable="true" ondragstart="drag(event, '{{divElementId}}')" class='btn btn-link linker-button' data-panel='{{divElementId}}' style='padding:2px'><i class='glyphicon glyphicon-link'></i></button>-->
                <button id='{{divElementId}}-historyButton' class='btn btn-link history-button' style='padding:2px'><i class='glyphicon glyphicon-time'></i></button>
                <!--<button id='{{divElementId}}-configButton' class='btn btn-link' data-toggle='modal' style='padding:2px' data-target='#{{divElementId}}-configModal'><i class='glyphicon glyphicon-cog'></i></button>-->
                <button id='{{divElementId}}-collapseButton' class='btn btn-link' style='padding:2px'><i class='glyphicon glyphicon-resize-small'></i></button>
                <button id='{{divElementId}}-expandButton' class='btn btn-link' style='padding:2px'><i class='glyphicon glyphicon-resize-full'></i></button>
                <button id='{{divElementId}}-closeButton' class='btn btn-link' style='padding:2px'><i class='glyphicon glyphicon-remove'></i></button>
            </div>
        </div>
    </div>
    <div class='panel-body' style='height:86%' id='{{divElementId}}-panelBody'>
        <form>
            <div class="form-group" style="margin-bottom: 2px;">
                <label for="{{divElementId}}-searchBox">
                    <span class="i18n" data-i18n-id="i18n_type_3_chars">Type at least 3 characters</span> <i class="glyphicon glyphicon-remove text-danger" id="{{divElementId}}-typeIcon"></i> <span id="{{divElementId}}-searchExample"></span></label>
                <br><div class="btn-group" style="width: 100%;"><input data-droppable="true" ondrop="dropS(event);" ondragover="removeHighlight();" ondragstart="allowDrop(event);" class="form-control" id="{{divElementId}}-searchBox" placeholder="Search..." autocomplete="off">
                <span id="{{divElementId}}-clearButton" class="searchclear glyphicon glyphicon-remove-circle"></span></div>
            </div>
        </form>
        <div id='{{divElementId}}-searchConfigBar' style='margin-bottom: 10px;'><nav class='navbar navbar-default' role='navigation' style='min-height: 28px;border-radius: 0px;border-bottom: 1px lightgray solid;'>
            <ul class='nav navbar-nav navbar-left'>
                <li class='dropdown' style='margin-bottom: 2px; margin-top: 2px;'>
                    <a href='javascript:void(0);' class='dropdown-toggle' data-toggle='dropdown' style='padding-top: 2px; padding-bottom: 2px;'><span id='{{divElementId}}-navSearchModeLabel'></span> <b class='caret'></b></a>
                    <ul class='dropdown-menu' role='menu' style='float: none;'>
                        <li><button class='btn btn-link' id='{{divElementId}}-fullTextButton'><span class='i18n' data-i18n-id='i18n_full_text_search_mode'>Full text search mode</span></button></li>
                        <li><button class='btn btn-link' id='{{divElementId}}-partialMatchingButton'><span class='i18n' data-i18n-id='i18n_partial_match_search_mode'>Partial matching search mode</span></button></li>
                        <!-- <li><button class='btn btn-link' id='{{divElementId}}-regexButton'><span class='i18n' data-i18n-id='i18n_regex_search_mode'>Regular Expressions search mode</span></button></li> -->
                    </ul>
                </li>
                <li class='dropdown' style='margin-bottom: 2px; margin-top: 2px;'>
                    <a href='javascript:void(0);' class='dropdown-toggle' data-toggle='dropdown' style='padding-top: 2px; padding-bottom: 2px;'><span id='{{divElementId}}-navLanguageLabel'></span> <b class='caret'></b></a>
                    <ul class='dropdown-menu' role='menu' style='float: none;'>
                        <li><button class='btn btn-link' id='{{divElementId}}-danishLangButton'><span class='i18n' data-i18n-id='i18n_danish_stemmer'>Danish language stemmer</span></button></li>
                        <li><button class='btn btn-link' id='{{divElementId}}-englishLangButton'><span class='i18n' data-i18n-id='i18n_english_stemmer'>English language stemmer</span></button></li>
                        <li><button class='btn btn-link' id='{{divElementId}}-spanishLangButton'><span class='i18n' data-i18n-id='i18n_spanish_stemmer'>Spanish language stemmer</span></button></li>
                        <li><button class='btn btn-link' id='{{divElementId}}-swedishLangButton'><span class='i18n' data-i18n-id='i18n_swedish_stemmer'>Swedish language stemmer</span></button></li>
                    </ul>
                </li>
                <li class='dropdown' style='margin-bottom: 2px; margin-top: 2px;'>
                    <a href='javascript:void(0);' class='dropdown-toggle' data-toggle='dropdown' style='padding-top: 2px; padding-bottom: 2px;'><span id='{{divElementId}}-navStatusFilterLabel'></span> <b class='caret'></b></a>
                    <ul class='dropdown-menu' role='menu' style='float: none;'>
                        <li><button class='btn btn-link' id='{{divElementId}}-activeOnlyButton'><span class='i18n' data-i18n-id='i18n_active_only'>Active components only</span></button></li>
                        <li><button class='btn btn-link' id='{{divElementId}}-activeInactiveButton'><span class='i18n' data-i18n-id='i18n_active_and_inactive'>Active and inactive components</span></button></li>
                        <li><button class='btn btn-link' id='{{divElementId}}-inactiveOnlyButton'><span class='i18n' data-i18n-id='i18n_inactive_only'>Inactive components only</span></button></li>
                    </ul>
                </li>
            </ul>
        </nav></div>
        <div class='panel panel-default' style='height:70%;overflow:auto;margin-bottom: 15px;min-height: 300px;' id='{{divElementId}}-resultsScrollPane'>
            <div id="{{divElementId}}-searchBar"></div>
            <div id="{{divElementId}}-searchFilters"></div>
            <table class='table table-bordered'>
                <tbody  id='{{divElementId}}-resultsTable'>
                </tbody>
            </table>
        </div>
        <div class='modal fade' id='{{divElementId}}-configModal'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                        <h4 class='modal-title'><span class='i18n' data-i18n-id='i18n_options'>Options</span> ({{divElementId}})</h4>
                    </div>
                    <div class='modal-body' id='{{divElementId}}-modal-body'>
                        <p></p>
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-danger' data-dismiss='modal'><span class='i18n' data-i18n-id='i18n_cancel'>Cancel</span></button>
                        <button id='{{divElementId}}-apply-button' type='button' class='btn btn-success' data-dismiss='modal'><span class='i18n' data-i18n-id='i18n_apply_changes'>Apply changes</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
