<div style='line-height: 100%;'>
    {{setLastGroup null}}
    {{#if_eq options.selectedView "stated"}}
        {{#each statedRoles}}
            <!--<br>-->
            {{#eqLastGroup groupId}}
                </div>
                {{setLastGroup groupId}}
                {{lastColor "random"}}
                <div {{#if_eq groupId 0}}{{else}}style="border: 1px solid darkgrey; border-radius: 4px; padding: 3px; background-color: white; margin: 5px;"{{/if_eq}}>
                <span style='background-color: {{lastColor "get"}}'></span>
            {{else}}
                <span style='background-color: {{lastColor "get"}}'></span>
            {{/eqLastGroup}}
            &nbsp;
            <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{type.moduleId}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-attribute-compact' data-module="{{type.module}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}'>
                    {{removeSemtag type.defaultTerm}}</span>
            </a>
            &nbsp;&rarr;&nbsp;

            {{#if concreteValue.value}}
                <span>{{concreteValue.value}}</span>
            {{else}}
                <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                    <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='
                        {{#if_eq target.definitionStatus "PRIMITIVE"}}
                            sct-primitive-concept-compact
                        {{else}}
                            sct-defined-concept-compact
                        {{/if_eq}}
                        ' data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
                        {{removeSemtag target.defaultTerm}}
                    </span>
                </a>
            {{/if}}
            <br>
        {{/each}}
        </div>
        {{#if_eq statedRoles.length 0}}
            {{#if_eq attributesFromAxioms.length 0}}
                <span class='i18n text-muted' data-i18n-id='i18n_no_attributes'>{{i18n "i18n_no_attributes" "No relationships"}}</span>
            {{/if_eq}}
        {{/if_eq}}
        {{#if_eq attributesFromAxioms.length 0}}
        {{else}}
            {{#each firstMatch.classAxioms}}
                {{#if_eq clinicalFindingRelationships true}}
                {{else}}
                    <div>Axiom</div>
                    <div>
                {{/if_eq}}
                    {{#each relationships}}
                        {{#if_eq type.conceptId "116680003"}}
                        {{else}}
                            {{#eqLastGroup groupId}}
                                </div>
                                {{setLastGroup groupId}}
                                {{lastColor "random"}}
                                <div {{#if_eq groupId 0}}{{else}}style="border: 1px solid darkgrey; border-radius: 4px; padding: 3px; background-color: white; margin: 5px;"{{/if_eq}}>
                                <span style='background-color: {{lastColor "get"}}'></span>
                                {{else}}
                                <span style='background-color: {{lastColor "get"}}'></span>
                            {{/eqLastGroup}}
                            &nbsp;
                            <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{type.moduleId}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                                <span style='background-color: {{lastColor "get"}}' draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-attribute-compact' data-module="{{type.module}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}'>
                                {{removeSemtag type.defaultTerm}}</span>
                            </a>
                            &nbsp;&rarr;&nbsp;
                            
                            {{#if concreteValue.value}}
                                <span>{{concreteValue.value}}</span>
                            {{else}}
                                <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                                    <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='
                                        {{#if_eq target.definitionStatus "PRIMITIVE"}}
                                            sct-primitive-concept-compact
                                        {{else}}
                                            sct-defined-concept-compact
                                        {{/if_eq}}
                                        ' data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
                                        {{removeSemtag target.defaultTerm}}
                                    </span>                       
                                </a>
                            {{/if}}                            
                            <br>
                        {{/if_eq}}
                    {{/each}}
                </span>
                </div>
            {{/each}}
        {{/if_eq}}
        {{#if_eq firstMatch.gciAxioms.length 0}}
        {{else}}
            {{#each firstMatch.gciAxioms}}
                {{#if_eq clinicalFindingRelationships true}}
                {{else}}
                    <div>GCI</div>
                    <div>
                {{/if_eq}}
                    {{#each relationships}}                       
                        {{#eqLastGroup groupId}}
                            </div>
                            {{setLastGroup groupId}}
                            {{lastColor "random"}}
                            <div style="border: 1px solid darkgrey; border-radius: 4px; padding: 3px; background-color: white; margin: 5px;">
                            <span style='background-color: {{lastColor "get"}}'></span>
                            {{else}}
                            <span style='background-color: {{lastColor "get"}}'></span>
                        {{/eqLastGroup}}
                        &nbsp;
                        <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{type.moduleId}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                            <span style='background-color: {{lastColor "get"}}' draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-attribute-compact' data-module="{{type.module}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}'>
                            {{removeSemtag type.defaultTerm}}</span>
                        </a>
                        &nbsp;&rarr;&nbsp;
                        
                        {{#if concreteValue.value}}
                            <span>{{concreteValue.value}}</span>
                        {{else}}
                            <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                                <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='
                                    {{#if_eq target.definitionStatus "PRIMITIVE"}}
                                        sct-primitive-concept-compact
                                    {{else}}
                                        sct-defined-concept-compact
                                    {{/if_eq}}
                                    ' data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
                                    {{removeSemtag target.defaultTerm}}
                                </span>                       
                            </a>
                        {{/if}}
                        <br>                        
                    {{/each}}
                </span>
                </div>
            {{/each}}
            </div>
        {{/if_eq}}
    {{else}}
        
            {{#each inferredRoles}}
                
                {{#eqLastGroup groupId}}
                    </div>
                    {{setLastGroup groupId}}
                    {{lastColor "random"}}
                    <div {{#if_eq groupId 0}}{{else}}style="border: 1px solid darkgrey; border-radius: 4px; padding: 3px; background-color: white; margin: 5px;"{{/if_eq}}>
                    <span style='background-color: {{lastColor "get"}}'></span>
                {{else}}
                    <span style='background-color: {{lastColor "get"}}'></span>
                {{/eqLastGroup}}
                &nbsp;
                <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{type.moduleId}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                    <span style='background-color: {{lastColor "get"}}' draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='sct-attribute-compact' data-module="{{type.module}}" data-concept-id='{{type.conceptId}}' data-term='{{type.defaultTerm}}'>
                    {{removeSemtag type.defaultTerm}}</span>
                </a>
                &nbsp;&rarr;&nbsp;

                {{#if concreteValue.value}}
                    <span>{{concreteValue.value}}</span>
                {{else}}
                    <a class="home-roles-destination-item" href="javascript:void(0);" data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}' style="color: inherit; text-decoration: inherit;">
                        <span draggable = "true" ondragstart="drag(event, '{{divElementId}}')" class='
                            {{#if_eq target.definitionStatus "PRIMITIVE"}}
                                sct-primitive-concept-compact
                            {{else}}
                                sct-defined-concept-compact
                            {{/if_eq}}
                            ' data-module="{{target.moduleId}}" data-concept-id='{{target.conceptId}}' data-term='{{target.defaultTerm}}'>
                            {{removeSemtag target.defaultTerm}}
                        </span>                       
                    </a>
                {{/if}}                    
                <br>
            {{/each}}
        </div>
        {{#if_eq inferredRoles.length 0}}
            <span class='i18n text-muted' data-i18n-id='i18n_no_attributes'>{{i18n "i18n_no_attributes" "No relationships"}}</span>
        {{/if_eq}}
    {{/if_eq}}
</div>
