<div style='height:100%;margin: 5px; overflow:auto;' class='panel panel-default' id='{{divElementId}}-mainPanel'>
  <div class='panel-heading' id='{{divElementId}}-panelHeading'>
    <div class='row'>
      <div class='col-md-6' id='{{divElementId}}-panelTitle'></div>
      <div class='col-md-6 text-right'>
        <!--<a class="btn btn-link" href="help/topics/creating-queries.html" target="_blank" title="Help" role="button"><i class='glyphicon glyphicon-question-sign'></i></a>-->
        <button id='{{divElementId}}-configButton' class='btn btn-link' data-toggle='modal' style='padding:2px' data-target='#{{divElementId}}-configModal'><i class='glyphicon glyphicon-cog'></i></button>
      </div>
    </div>
  </div>
  <div class='panel-body' style='height:100%' id='{{divElementId}}-panelBody'>
    <!--<p style="margin: 10px;">Create a query, conditions are evaluated in order:</p>-->
    <div class="row container-fluid" style="margin-left: 10px; margin-right: 10px; margin-top: 0px; padding-left: 0px;">
      <div class="col-md-6" style="padding-left: 0">
        <div class="lead i18n" style="padding-left: 5px; padding-top: 15px; margin-bottom: 0px; display:inline-block; vertical-align: top" data-i18n-id="i18n__enter_an_expression">{{i18n "i18n__enter_an_expression" "Enter an ECL query"}}</div>
        <div style="padding-top: 22px; margin-bottom: 0px; font-size: 10px; display:inline-block;">
          <span>(</span><span class="i18n" data-i18n-id="i18n_ecl_version">{{i18n "i18n_ecl_version" "ECL version"}}</span><span>:</span>&nbsp;<span>2.0</span><span>)</span>
        </div>        
      </div>            
      <button type="button" id="{{divElementId}}-helpButton" class="btn btn-default pull-right i18n" style="margin: 10px;" data-toggle="modal" data-target="#{{divElementId}}-queryHelpModal" data-i18n-id="i18n_Help">{{i18n "i18n_Help" "Help"}}</button>
      <button type="button" id="{{divElementId}}-clearButton" class="btn btn-default pull-right i18n" style="margin: 10px;" data-i18n-id="i18n_clear">{{i18n "i18n_clear" "Clear"}}</button>
      <!--<p><strong>This will execute against the current MAIN branch of the authoring platform. Please make sure you have logged into the authoring platform to be able to run any queries.</strong></p> -->
    </div>
    <div>    
      <div class="tab-content">
        <div class="tab-pane" id="{{divElementId}}-BuilderTab" style="padding: 0px;margin: 0;">
          <div class="row container-fluid" style="margin: 10px;">
            <form class="form-inline" role="form">
              <div class="form-group">
                <div class="dropdown">
                  <button style="width: 75px;" class="btn btn-default dropdown-toggle" type="button" id="{{divElementId}}-modifierButton" data-toggle="dropdown" aria-expanded="true">
                                        <span id="{{divElementId}}-selectedModifier">Include</span>
                                        <span class="caret"></span>
                                    </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="{{divElementId}}-modifierButton">
                    <li role="presentation"><a role="menuitem" data-role="modifier-selector" tabindex="-1" href="javascript:void(0);">Include</a></li>
                    <li role="presentation"><a role="menuitem" data-role="modifier-selector" tabindex="-1" href="javascript:void(0);">Exclude</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <div class="dropdown">
                  <button style="width: 147px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        <span id="{{divElementId}}-selectedCriteria">descendantOf</span>
                                        <span class="caret"></span>
                                    </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">descendantOf</a></li>
                    <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">descendantOrSelfOf</a></li>
                    <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">ancestorOf</a></li>-->
                    <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">ancestorOrSelfOf</a></li>-->
                    <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">self</a></li>
                    <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">childrenOf</a></li>-->
                    <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">parentsOf</a></li>-->
                    <li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">isMemberOf</a></li>
                    <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">hasDescription</a></li>-->
                    <!--<li role="presentation"><a role="menuitem" data-role="criteria-selector" tabindex="-1" href="javascript:void(0);">hasRelationship</a></li>-->
                  </ul>
                </div>
              </div>
              <div class="form-group" id="{{divElementId}}-conceptField">
                <input type="text" data-droppable="true" ondrop="dropField(event)" ondragleave="removeHighlight();" ondragover="allowDrop(event)" class="form-control" id="{{divElementId}}-selectedConcept" placeholder="Drag a concept here" readonly>
                <input type="text" data-droppable="true" ondrop="dropField(event)" ondragleave="removeHighlight();" ondragover="allowDrop(event)" class="form-control" id="{{divElementId}}-selectedType" placeholder="Drag a type here" readonly>
                <input type="text" data-droppable="true" ondrop="dropField(event)" ondragleave="removeHighlight();" ondragover="allowDrop(event)" class="form-control" id="{{divElementId}}-selectedTarget" placeholder="Drag a destination here" readonly>
                <input type="text" class="form-control" id="{{divElementId}}-searchTerm" placeholder="Type search string">
                <span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="{{divElementId}}-formdropdown" data-toggle="dropdown" aria-expanded="true">
                            <span id="{{divElementId}}-selectedForm">stated</span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="{{divElementId}}-formdropdown">
                  <li role="presentation"><a role="menuitem" data-role="form-selector" tabindex="-1" href="javascript:void(0);">stated</a></li>
                  <li role="presentation"><a role="menuitem" data-role="form-selector" tabindex="-1" href="javascript:void(0);">inferred</a></li>
                </ul>
                </span>
              </div>
              <div style="margin-left: 41px;" class="form-group" id="{{divElementId}}-addCriteriaAnd">
                <div class="dropdown">
                  <button style="text-decoration: none;" class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true"><span data-toggle="tooltip" data-placement="top" title="More" class="glyphicon glyphicon-plus"></span></button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li role="presentation"><a class="addCriteria" data-type="Conjunction" role="menuitem" tabindex="-1" href="javascript:void(0);">Add AND</a></li>
                    <li role="presentation"><a class="addCriteria" data-type="Refinement" role="menuitem" tabindex="-1" href="javascript:void(0);">Add Refinement</a></li>
                  </ul>
                </div>
              </div>
            </form>
            <form class="form-inline" role="form">
              <div class="form-group">
                <button type="button" class="btn btn-primary" id='{{divElementId}}-addCriteriaButton' style="margin: 10px;">{{i18n "i18n_add_condition" "Add instruction"}}</button>
                <!--<button type="button" class="btn btn-primary"  id='{{divElementId}}-cloudResults' style="margin: 10px; position: relative;" title="Open Cloud Queries Processor" data-toggle="modal" data-target="#{{divElementId}}-cloudModal"><i class='glyphicon glyphicon-cloud' style="position: relative; top: 3px;"></i> <span id="{{divElementId}}-cloudCount"></span></button>-->

                <span id="{{divElementId}}-addmsg" for="{{divElementId}}-addCriteriaButton" class="small text-danger"></span>
              </div>
            </form>
            <ul class="list-group" id="{{divElementId}}-listGroup">
            </ul>
            <div class="btn btn-success i18n" style="margin: 10px;" id='{{divElementId}}-computeInferredButton' data-i18n-id="i18n_execute">{{i18n "i18n_execute" "Execute"}}</div>
            <button type="button" class="btn btn-primary pull-right" id='{{divElementId}}-open-grammar' style="margin: 10px; position: relative;" data-toggle="modal" data-target="#{{divElementId}}-constraintGrammarModal">{{{i18n "i18n_constraint_grammar" "Constraint Grammar"}}}</button>
            <br>
            <br>
          </div>
        </div>
        <div class="tab-pane active" id="{{divElementId}}-ExpTab" style="padding-left: 15px;padding-right: 15px;padding-bottom: 15px;margin: 0;">
          <textarea rows="5" ondrop="dropE(event);" class="form-control i18n" placeholder="{{i18n "i18n_expression_constraint" "Expression constraint"}}..." id="{{divElementId}}-ExpText"></textarea>
            <button type="button" id="{{divElemeentId}}-eclBuilderButton" class="btn btn-primary i18n" style="margin-top: 5px; margin-bottom: 10px; margin-right: 10px; position: initial" data-i18n-id="i18n_eclBuilder" onclick="openEclBuilder()">{{i18n "i18n_eclBuilder" "ECL Builder"}}</button>
            <div class="btn btn-success i18n" style="margin-top: 5px; margin-bottom: 10px; margin-right: 10px; position: initial" id='{{divElementId}}-computeInferredButton2' data-i18n-id="i18n_execute">{{i18n "i18n_execute" "Execute"}}</div>
          <br>
          <div class="btn-group" style="width: 50%;">
            <input data-droppable="true" ondrop="dropS(event);" ondragover="removeHighlight();" style="width: 100%; margin-top: 3px" ondragstart="allowDrop(event);" class="form-control" id="{{divElementId}}-searchBoxOption" placeholder="{{i18n "i18n_ecl_search_option_placeholder" "Enter additional search filter (optional)"}}" autocomplete="off">
            <span id="{{divElementId}}-clearSearchButton" class="searchclear glyphicon glyphicon-remove-circle"></span>
          </div>
          <br>
          <div class="btn-group dropdown" id="{{divElementId}}-searchTypeSection">
            <button style="white-space: normal;" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" id="{{divElementId}}-searchTypeButton">
                <span class='i18n' data-i18n-id='i18n_description_type'>{{i18n "i18n_description_type" "Description type" }}</span>: <span id="{{divElementId}}-searchTypeOpt"></span>&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                    <a href="#" id='{{divElementId}}-allTypeButton'><span class='i18n' data-i18n-id='i18n_all'>{{i18n "i18n_all" "All" }}</span> </a>
              </li>    
              <li>
                    <a href="#" id='{{divElementId}}-fsnTypeButton'><span class='i18n' data-i18n-id='i18n_fsn'>{{i18n "i18n_fsn" "FSN" }}</span> </a>
              </li>           
              <li>
                  <a href="#" id='{{divElementId}}-synonymTypeButton'><span class='i18n' data-i18n-id='i18n_synonym'>{{i18n "i18n_synonym" "Synonym" }} </span></a>
              </li>
              
              <li>
                  <a href="#"id='{{divElementId}}-definitionTypeButton'><span class='i18n' data-i18n-id='i18n_definition'>{{i18n "i18n_definition" "Definition" }}</span></a>
              </li>
            </ul>
          </div>
          <div style="margin-top: 5px; display: inline-block" id="{{divElementId}}-filterLanguageRefsetSection">
              <select id="{{divElementId}}-filterLanguageRefsetOpt" multiple="multiple" style="display: none"></select>
              
              <!--Display a temporary dropdown for Language refset for better view, will remove it after the list of refsets are in place-->
              <div style="" class="btn-group dropdown" id="{{divElementId}}-filterLanguageRefsetOptHidden">
                  <button style="white-space: normal;" type="button" class="btn btn-success dropdown-toggle disabled" data-toggle="dropdown">
                      <span class='i18n' data-i18n-id='i18n_language_refsets'>Language Refsets</span>&nbsp;<span class="caret"></span>
                  </button>                        
              </div>
          </div>
          <div style="margin-top: 5px; display: inline-block" id="{{divElementId}}-filterModulesSection">
              <select id="{{divElementId}}-filterModulesOpt" multiple="multiple" style="display: none"></select>
              
              <!--Display a temporary dropdown-->
              <div style="" class="btn-group dropdown" id="{{divElementId}}-filteModulesOptHidden">
                  <button style="white-space: normal;" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                      <span class='i18n' data-i18n-id='i18n_moudles'>Modules</span>&nbsp;<span class="caret"></span>
                  </button>                        
              </div>
          </div>          
          <div class="btn btn-success" style="display: none; margin-left: 10px;margin-right: 10px;margin-bottom: 10px;" id='{{divElementId}}-computeOntoserver2'>Run on Ontoserver</div>
          <br>
        </div>
        </form>
        <!--            <ul class="list-group" id="{{divElementId}}-listGroup">
            </ul>
            {{{i18n "i18n_results" "Results"}}}:  <span id="{{divElementId}}-resultInfo" class="text-muted small"></span>
-->
        <div class="row container-fluid" style="margin: 10px;">
          <p class="lead"><span class="i18n" data-i18n-id="i18n_results">{{i18n "i18n_results" "Results"}}</span>: <span id="{{divElementId}}-resultInfo"></p></span>
        </div>

        <div class="row container-fluid" id="{{divElementId}}-output" style="margin: 10px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Concept</th>
                <th>Preferred Term</th>
                <th>Id</th>
              </tr>
            </thead>
            <tbody id="{{divElementId}}-outputBody"></tbody>
            <tfoot>
              <tr>
                <td colspan="3" id="{{divElementId}}-footer" class="text-center text-muted small"></td>
              </tr>
            </tfoot>
          </table>
          <table id="{{divElementId}}-output2" style="display: none">
            <thead>
              <tr>
                <th>Concept</th>
                <th>Preferred Term</th>
                <th>Id</th>
              </tr>
            </thead>
            <tbody id="{{divElementId}}-outputBody2">
            </tbody>
          </table>

        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
  <!-- Modals -->
  <div class="modal fade" id="{{divElementId}}-ExamplesModal" tabindex="-1" role="dialog" aria-labelledby="{{divElementId}}-myCloudModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Terminology content selections examples</h4>
        </div>
        <div class="modal-body" style="max-height: 450px; overflow: auto;">
          <div class="row">
            <div class="col-md-4">
              <div class="list-group navbar" id="{{divElementId}}-sidebar">
                <ul id="{{divElementId}}-mynav" data-spy="affix" data-offset-top="280" class="nav" style="position: fixed; width: 30%;">
                  {{#each examples}}
                    <li><a contenteditable="false" href="#{{../divElementId}}-{{@index}}-modal-examples" class="list-group-item">{{title}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class="col-md-8" id="{{divElementId}}-mycontentExamples">

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="{{divElementId}}-ExamplesModal-close" type="button" class="btn btn-default i18n" data-dismiss="modal" data-i18n-id="i18n_close">{{i18n "i18n_close" "Close"}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="{{divElementId}}-queryHelpModal" tabindex="-1" role="dialog" aria-labelledby="{{divElementId}}-myCloudModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title i18n" data-i18n-id="i18n_Help">{{i18n "i18n_Help" "Help"}}</h4>
        </div>
        <div class="modal-body" style="max-height: 450px; overflow: auto;">
          <h2 class="i18n" data-i18n-id="i18n_snomed_ecl_title">{{i18n "i18n_snomed_ecl_title" "SNOMED CT Expression Constraint Language"}}</h2>
          <p> <span class="i18n" data-i18n-id="i18n_snomed_ecl_description">{{i18n "i18n_snomed_ecl_description" 'This tool implements the full set of ECL v2.0 functions from the "SNOMED CT Expression Constraint Language Specification and Guide"'}}</span> (<a href="http://snomed.org/ecl" target="_blank">http://snomed.org/ecl</a>). <span class="i18n" data-i18n-id="i18n_snomed_ecl_description1">{{i18n "i18n_snomed_ecl_description1" 'For a quick reference to the key syntax features, please refer to the'}}</span> <a href="https://confluence.ihtsdotools.org/display/DOCECL/Appendix+D+-+ECL+Quick+Reference" target="_blank"><span class="i18n" data-i18n-id="i18n_snomed_ecl_description2">{{i18n "i18n_snomed_ecl_description2" 'ECL Quick Reference'}}</span></a></p>
          <p class="lead"><span class="i18n" data-i18n-id="i18n_for_example">{{i18n "i18n_for_example" "For example"}}</span>:</p>
          <table class="c0">
            <tbody>
              <tr class="c15">
                <td class="c18 c24" colspan="2" rowspan="1">
                  <p class="c3"><span class="c2 i18n" data-i18n-id="i18n_ecl_operation">{{i18n "i18n_ecl_operation" "ECL Operator"}}</span></p>
                </td>
                <td class="c13 c18" colspan="1" rowspan="2">
                  <p class="c3"><span class="c2 i18n" data-i18n-id="i18n_summary">{{i18n "i18n_summary" "Summary"}}</span></p>
                </td>
                <td class="c6 c18" colspan="1" rowspan="2">
                  <p class="c3"><span class="c2 i18n" data-i18n-id="i18n_example">{{i18n "i18n_example" "Example"}}</span></p>
                </td>
              </tr>
              <tr class="c15">
                <td class="c7" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2 i18n" data-i18n-id="i18n_symbol">{{i18n "i18n_symbol" "Symbol"}}</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2 i18n" data-i18n-id="i18n_name">{{i18n "i18n_name" "Name"}}</span></p>
                </td>
              </tr>              
              <tr class="c16">
                <td class="c8 w-10" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&lt; </span></p>
                </td>
                <td class="c11 w-10" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name1">Descendant of</span></p>
                </td>
                <td class="c13 w-20" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary1">The set of all subtypes of the given concept</span></p>
                </td>
                <td class="c6 w-20" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 404684003 |Clinical finding|</span></p>
                </td>
              </tr>
              <tr class="c1">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&lt;&lt; </span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name2">Descendant or self of</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary2">The set of all subtypes of the given concept plus the concept itself</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c23">&lt;&lt; </span><span class="c20">73211009 |Diabetes mellitus|</span></p>
                </td>
              </tr>
              <tr class="c16">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&gt; </span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name3">Ancestor of</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary3">The set of all supertypes of the given concept</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&gt; 40541001 |Acute pulmonary edema|</span></p>
                </td>
              </tr>
              <tr class="c1">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&gt;&gt; </span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name4">Ancestor or self of</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary4">The set of all supertypes of the given concept plus the concept itself</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&gt;&gt; 40541001 |Acute pulmonary edema|</span></p>
                </td>
              </tr>
              <tr class="c1">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&lt;!</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name5">Child of</span></p>  
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary5">The set of all children of the given concept</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">! 195967001 |Asthma|</span></p>
                </td>
              </tr>
              <tr class="c1">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">^</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name6">Member of</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary6">The set of referenced components in the given reference set</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">^ 733990004 |Nursing activities reference set|</span></p>
                </td>
              </tr>
              <tr class="c1">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">^ [x,y]</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name19">Member of with field selection</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary19">Selects fields x and y from matching rows of the given reference set</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">^ [referencedComponentId, mapTarget] 447562003 |ICD-10 complex map reference set|</span></p>
                </td>
              </tr>
              <tr class="c16">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">*</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name7">Any</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary7">Any concept in the given SNOMED CT edition</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5">*</span></p>
                </td>
              </tr>
              <tr class="c21">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">:</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name8">Refinement</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary8">Only those concepts whose defining relationships match the given attribute value pairs</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 404684003 |clinical finding|: 116676008 |associated morphology| = *</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">AND</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name9">Conjunction</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary9">Only those concepts in both sets</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 19829001 |disorder of lung| AND &lt; 301867009 |edema of trunk|</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">OR</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name10">Disjunction</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary10">Any concept that belongs to either set</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 19829001 |disorder of lung| OR &lt; 301867009 |edema of trunk|</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">MINUS</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name11">Exclusion</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary11">Concepts in the first set that do not belong to the second set</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 19829001 |disorder of lung| MINUS &lt; 301867009 |edema of trunk|</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">[x..y]</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name12">Cardinality</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary12">Only those concepts with at least x and at most y relationships that match the following attribute value pair</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 373873005 |Pharmaceutical / biologic product|: [1..3] 127489000 |Has active ingredient| = &lt; 105590001 |Substance|</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">R</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name13">Reverse attribute</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary13">The set of attribute values (target concepts) for the given attribute and source concept</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 91723000 |Anatomical structure|: R 363698007 |Finding site| = &lt; 125605004 |Fracture of bone|</span></p>
                </td>
              </tr>

              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">.</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name14">Dotted attribute</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary14">The set of attribute values (target concepts) for the given attribute and source concept</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 125605004 |Fracture of bone|. 363698007 |Finding site|</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&#123;&#123; D &#125;&#125;</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name15">Description filter</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary15">Only those concepts with a description that matches the filter criteria</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 64572001 |Disease| { Unknown macro: \{ D term = "cardi"}}</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&#123;&#123; C &#125;&#125;</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name16">Concept filter</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary16">Only those concepts with properties that match the filter criteria</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt; 56265001 |Heart disease| { Unknown macro: \{ C definitionStatus = primitive }}</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&#123;&#123; M &#125;&#125;</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name17">Member filter</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary17">Only those reference set members that match the filter criteria</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">^ 447562003 |ICD-10 complex map reference set| { Unknown macro: \{ M mapTarget = "J45" }}</span></p>
                </td>
              </tr>
              <tr class="c19">
                <td class="c8" colspan="1" rowspan="1">
                  <p class="c3"><span class="c2">&#123;&#123; +HISTORY &#125;&#125;</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_name18">History supplement</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                  <p class="c3"><span class="c5 i18n" data-i18n-id="i18n_ecl_summary18">Add all inactive concepts associated with a concept in the result set via a historical reference set indicated by the filter</span></p>
                </td>
                <td class="c6" colspan="1" rowspan="1">
                  <p class="c3"><span class="c9">&lt;&lt; 195967001 |Asthma| { Unknown macro: \{ + HISTORY_MIN }}</span></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default i18n" data-dismiss="modal" data-i18n-id="i18n_close">{{i18n "i18n_close" "Close"}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="{{divElementId}}-constraintGrammarModal" tabindex="-1" role="dialog" aria-labelledby="constraintGrammarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-height: 450px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="{{divElementId}}-constraintGrammarModalLabel">{{{i18n "i18n_constraint_grammar" "Constraint Grammar"}}}</h4>
        </div>
        <div class="modal-body" style="max-height: 450px; overflow: auto;">
          <div class="row">
            <div class="expression-code col-md-11" id="{{divElementId}}-constraintGrammar">

            </div>
            <div class="col-md-1">
              <small><i class="glyphicon glyphicon-export pull-right" style="font-size: 14px;cursor: pointer;" id="{{divElementId}}-copyConstraint"></i></small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="home-{{divElementId}}-full-syntax-button">Full</button>
            <button type="button" class="btn btn-default" id="home-{{divElementId}}-brief-syntax-button">Brief</button>
          </div>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-default i18n" data-dismiss="modal" data-i18n-id="i18n_close">{{i18n "i18n_close" "Close"}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class='modal fade' id='{{divElementId}}-configModal'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h4 class='modal-title'><span class='i18n' data-i18n-id='i18n_options'>{{i18n "i18n_options" "Options"}}</span></h4>
            </div>
            <div class='modal-body' id='{{divElementId}}-modal-body'>
                <p></p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' data-dismiss='modal'><span class='i18n' data-i18n-id='i18n_cancel'>{{i18n "i18n_cancel" "Cancel"}}</span></button>
                <button id='{{divElementId}}-apply-button' type='button' class='btn btn-success' data-dismiss='modal'><span class='i18n' data-i18n-id='i18n_apply_changes'>{{i18n "i18n_apply_changes" "Apply changes"}}</span></button>
            </div>
        </div>
    </div>
</div>
