<li data-modifier="{{modifier}}" data-criteria="{{criteria}}" data-search-term="{{searchTerm}}" class="list-group-item clearfix query-condition">
    <span class="text-muted line-number" style="font-size: 200%;"></span>&nbsp;&nbsp;
    <span style="position: relative; top: -5px;">
        {{modifier}}, {{criteria}}&nbsp;
        <span style="color: firebrick;">{{searchTerm}}</span>
    </span>
    <button class='pull-right btn btn-link removeLi' style="position: relative; top: 3px;">
        <i class='glyphicon glyphicon-remove'></i>
    </button>
</li>