<form role="form" id="{{divElementId}}-options-form">
    <div class="form-group">
        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Panel</th>
                <th><span class="i18n" data-i18n-id="i18n_subscribed">{{i18n "i18n_subscribe" "Subscribed"}}</span></th>
                <th><span class="i18n" data-i18n-id="i18n_subscriptor">{{i18n "i18n_subscriptor" "Subscriptor"}}</span></th>
            </tr>
            </thead>
            <tbody>
            {{#each options.possibleSubscribers}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="{{../divElementId}}-subscribeTo-{{id}}" {{#if subscribed}}checked{{/if}}> <span class="i18n"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="{{../divElementId}}-subscriptor-{{id}}" {{#if subscriptor}}checked{{/if}}> <span class="i18n"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</form>